* {
  box-sizing: border-box;
}

html {
  background-color: white !important;
}

body {
  display: block !important;
  width: 50%;
  margin: auto !important;
  background-color: white !important;
}

header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 26px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 7px;
}
header .logo img {
  width: 31.306px;
  height: 26.218px;
  flex-shrink: 0;
}
header .logo h2 {
  color: #FFF;
  font-family: Karla;
  font-size: 20.748px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.075px;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main {
  padding: 26px;
}
main .meme .inputs {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
main .meme .inputs .input-field label {
  color: var(--gray-700, #374151);
  font-family: Karla;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.375px;
  /* 116.963% */
}
main .meme .inputs .input-field input[type=text] {
  display: flex;
  padding: 7.369px 10.644px;
  align-items: center;
  gap: 6.55px;
  border-radius: 4.912px;
  border: 0.819px solid var(--gray-300, #D1D5DB);
  background: var(--white, #FFF);
  box-shadow: 0px 0.819px 1.637px 0px rgba(0, 0, 0, 0.05);
  color: black;
  font-family: Karla;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.65px;
  /* 140.355% */
}
main .meme .inputs .input-field input[type=text]::-moz-placeholder {
  color: var(--gray-500, #6B7280);
  font-family: Karla;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.65px;
  /* 140.355% */
}
main .meme .inputs .input-field input[type=text]::placeholder {
  color: var(--gray-500, #6B7280);
  font-family: Karla;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.65px;
  /* 140.355% */
}
main .meme button {
  border-radius: 5px;
  background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFF;
  text-align: center;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.6px;
  outline: none;
  border: none;
  cursor: pointer;
}
main img {
  margin-top: 20px;
  width: 100%;
}

.meme {
  position: relative;
}
.meme .meme--image {
  max-width: 100%;
  border-radius: 3px;
}
.meme .meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}
.meme .bottom {
  bottom: 0;
}
.meme .top {
  top: 0;
}/*# sourceMappingURL=styles.css.map */