* {
  box-sizing: border-box;
}

body {
  display: block !important;
  width: 75%;
  margin: auto !important;
}

header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 26px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    gap: 7px;

    img {
      width: 31.306px;
      height: 26.218px;
      flex-shrink: 0;
    }

    h2 {
      color: #FFF;
      font-family: Karla;
      font-size: 20.748px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -2.075px;
    }
  }

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        color: #FFF;
        text-align: right;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}